{% extends "layout.html" %}

{% block title %}
    Transaction history
{% endblock %}

{% block main %}

<div class = "mb-3 container-fluid row align-items-start" id = "history">
    <table>
        <thead>
            <th><h3>Status</h3></th>
            <th> <h3>Stock</h3></th>
            <th><h3>Price</h3></th>
            <th><h3>Shares</h3></th>
            <th><h3>Date</h3></th>
        </thead>
        <tbody>
            {% for i in history %}
            <tr>
                <td> {{i.transaction_type}}</td>
                <td> {{i.stock}}</td>
                <td> {{i.stock_price | usd}} </td>
                <td> {{i.shares}}</td>
                <td> {{i.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}
